@model ControlMDBI.Models.AprobacionVehiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AprobacionVehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <label asp-for="IdSolicitudVehiculo" class="form-label"></label>
                <select asp-for="IdSolicitudVehiculo" class ="form-control" asp-items="ViewBag.IdSolicitudVehiculo"></select>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="IdUsuario" class="form-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="FechaAprobacion" class="form-label"></label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Observaciones" class="form-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Estado" class="form-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

