@model ControlMDBI.Models.Empleado

@{
    ViewData["Title"] = "Agregar Empleado";
}

<!-- Alertas -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show border-0 shadow-sm mb-4" role="alert">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <i class="fas fa-exclamation-triangle fa-lg text-danger"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <h6 class="alert-heading mb-1 fw-bold">¡Error!</h6>
                <p class="mb-0">@TempData["ErrorMessage"]</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show border-0 shadow-sm mb-4" role="alert">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <i class="fas fa-check-circle fa-lg text-success"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <h6 class="alert-heading mb-1 fw-bold">¡Éxito!</h6>
                <p class="mb-0">@TempData["SuccessMessage"]</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
<div class="row mb-4">
    <div class="col">
        <h3 class="mb-0 ">
            <i class="fas fa-user-plus me-2"></i>
            Agregar Nuevo Empleado
        </h3>

        <p class="text-muted mb-0">Complete el formulario para agregar a un usuario del sistema</p>

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="card shadow">
            <div class="card-header bg-blueMuni-600 text-white">
                <h5 class="card-title mb-0">
                    <i class="fa-solid fa-square-plus"></i>
                    Nuevo empleado
                </h5>
                <p class="text-muted mb-0">Obligatorio (<span class="text-danger">*</span>)</p>
            </div>
            <div class="card-body">

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row table-responsive d-flex align-items-center justify-content-center">
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input asp-for="DNI" class="form-control" placeholder="DNI" autocomplete="off" required maxlength="8" pattern="[0-9]{8}" />
                                <label asp-for="DNI" class="form-label">
                                    <i class="fa-solid fa-id-card me-2 text-muted"></i>
                                    DNI <span class="text-danger">*</span>
                                    </label>
                                <span asp-validation-for="DNI" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <input asp-for="Nombres" class="form-control" placeholder="Nombres" autocomplete="off" />
                                <label asp-for="Nombres" class="form-label"><i class="fa-solid fa-address-card me-2"></i>Nombres <span class="text-danger">*</span></label>
                                <span asp-validation-for="Nombres" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <input asp-for="Apellidos" class="form-control" placeholder="Apellidos" autocomplete="off" />
                                <label asp-for="Apellidos" class="form-label"><i class="fa-solid fa-id-card-clip me-2"></i>Apellidos <span class="text-danger">*</span></label>
                                <span asp-validation-for="Apellidos" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <input asp-for="Direccion" class="form-control" placeholder="Dirección" autocomplete="off" />
                                <label asp-for="Direccion" class="form-label"><i class="fa-solid fa-map-location-dot me-2"></i>Dirección</label>
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <input asp-for="Correo" class="form-control" placeholder="Correo" autocomplete="off" />
                                <label asp-for="Correo" class="form-label"><i class="fa-solid fa-envelope me-2"></i>Correo <span class="text-danger">*</span></label>
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">

                                <input asp-for="Cargo" class="form-control" placeholder="Cargo" autocomplete="off" />
                                <label asp-for="Cargo" class="form-label"><i class="fa-solid fa-map-pin me-2"></i>Cargo <span class="text-danger">*</span></label>
                                <span asp-validation-for="Cargo" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <input asp-for="Unidad" class="form-control" placeholder="Área" autocomplete="off" />
                                <label asp-for="Unidad" class="form-label"><i class="fa-solid fa-building-circle-arrow-right me-2"></i>Área <span class="text-danger">*</span></label>
                                <span asp-validation-for="Unidad" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="Activo" class="form-label text-blueMuni-600">

                                    <i class="fas fa-toggle-on fa-lg text-success" style="display:none">
                                        <span class="badge bg-success ms-2"><small>Habilitado</small></span>
                                    </i>

                                    <i class="fas fa-toggle-off fa-lg text-danger" style="">
                                        <span class="badge bg-danger ms-2"><small>Deshabilitado</small></span>
                                    </i>
                                </label>
                                <input class="form-check-input" asp-for="Activo" value="true" hidden onchange="cambiarIcono(this)" />
                            </div>

                            <div class="form-floating mb-3">

                                <select asp-for="IdSede" class="form-select" asp-items="ViewBag.IdSede">
                                    <option value="">-- Seleccione un Sede --</option>
                                </select>
                                <label asp-for="IdSede" class="form-label"><i class="fa-solid fa-building-user me-2"></i>Sede <span class="text-danger">*</span></label>
                                <span asp-validation-for="IdSede" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-3 d-flex justify-content-center">
                                <button type="submit" value="Agregar" class="btn btn-outline-success me-2">
                                    <i class="fa-solid fa-user-plus me-2"></i>Agregar
                                </button>
                                <a asp-action="Index" class="btn btn-danger">
                                    <i class="fa-solid fa-xmark me-2"></i>Cancelar
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @* @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } *@
    <script>
        function cambiarIcono(checkbox){
            var toggleOn= $(checkbox).closest('.form-group').find('.fa-toggle-on');
            var toggleOff = $(checkbox).closest('.form-group').find('.fa-toggle-off');
            if(checkbox.checked){
                toggleOn.show();
                toggleOff.hide();
            }else{
                toggleOn.hide();
                toggleOff.show();
            }
        }
        
    </script>

}


