@model ControlMDBI.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">

                <input asp-for="Placa" class="form-control" placeholder="Placa" autocomplete="off" />
                <label asp-for="Placa" class="form-label"></label>
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">

                <input asp-for="Marca" class="form-control" placeholder="Marca" autocomplete="off" />
                <label asp-for="Marca" class="form-label"></label>
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">

                <select asp-for="Estado" class="form-select" asp-items="@(new SelectList(Enum.GetNames(typeof(ListaEstadoVehiculo))))">
                    <option value="" selected disabled>--Seleccione Estado--</option>
                </select>
                <label asp-for="Estado" class="form-label"></label>
                @* <input asp-for="Estado" class="form-control" /> *@
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">

                <select asp-for="IdSede" class="form-select" asp-items="ViewBag.IdSede">
                    <option value="" selected disabled>--Seleccione Sede--</option>
                </select>
                <label asp-for="IdSede" class="form-label">Sede</label>
                <span asp-validation-for="IdSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-blueMuni">
        <i class="fa-solid fa-circle-arrow-left"></i> Regresar
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

