@model ControlMDBI.Models.Usuario


@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nuevo</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="IdEmpleado" class="control-label">Empleado</label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado">
                    <option value="">-- Seleccionar Empleado --</option>
                </select>
            </div>
            *@
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label">Empleado</label>
                <select asp-for="IdEmpleado" class="form-select" id="buscarEmpleado" data-placeholder="Buscar Empleado Activo">
                    <option></option>
                </select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label">Nombre de Usuario</label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group position-relative">
                <label asp-for="Contrasenia" class="control-label">Contraseña</label>
                <div class="input-group">
                    <!-- Contenedor para alinear input + botón -->
                    <input asp-for="Contrasenia" class="form-control pe-5" type="password" />
                    <button class="btn position-absolute top-50 end-0 translate-middle-y p-0 me-3" type="button" id="togglePassword" style="background: none; border: none; box-shadow: none;">
                        <i class="fa-solid fa-eye" style="font-size: 1.25rem;"></i>
                    </button>
                </div>
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control" asp-items="@(new SelectList(Enum.GetNames(typeof(ListaRolesUsuario))))">
                    <option value="" selected disabled>Seleccione Rol</option>

                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"> Fecha de Registro </label>
                <input asp-for="FechaRegistro" class="form-control" readonly />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group d-flex gap-2">
                <input type="submit" value="Crear" class="btn btn-blueMuni" />
                <a asp-action="Index" class="btn btn-outline-blueMuni">
                    <i class="fa-solid fa-circle-arrow-left"></i> Atrás
                </a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }



    <script>
            // Función para mostrar/ocultar la contraseña
            document.getElementById('togglePassword').addEventListener('click', function () {
                const passwordInput = document.getElementById('Contrasenia');
                const icon = this.querySelector('i');
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                } else {
                    passwordInput.type = 'password';
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                }
            });

             $( '#buscarEmpleado' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
            allowClear: true,
                language: {
            noResults: function () {
                return "No se encontraron empleados.";
            },
        searching: function () {
            return "Buscando empleados...";
        }
        },
            ajax: {
                url: '/Admin/Usuarios/GetEmpleados',
                dataType: 'json',
                delay: 250,
                data: function ( params ) {
                    return {
                        empleadoBuscado: params.term
                    };
                },
                processResults: function ( data ) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
        } );

    </script>

}
